/* src/styles/globals.css */

/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基本的なスタイル */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 他のグローバルスタイルをここに追加 */

@tailwind base;
@tailwind components;
@tailwind utilities;
